.mainChat
{
    margin: 25px;
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
    max-width: 500px;
    border-bottom: 2px solid green;
    overflow: hidden;
    
  

}




.mainChat:hover
{
    color:black;
    text-decoration: none;
    background-color: rgb(212, 210, 205);
    border-bottom: 2px solid red;

}
.chats
{
 
    margin-left: 40px;
    margin-right: 25px;
    
 
}

.unread
{
    font-weight: bolder;
}

.messageOverView
{
    max-width: 400px;
    display: flex;
    align-items: left;
    
}