.sidebar {
  height: 65px;
  display: flex;
}

.nav-menu {
  background-color: #313235;
  position: fixed;
  height: 65%;
  right: -100%;
  transition: 850ms;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
  z-index: 9999;
}

.nav-text {
  list-style: none;
}

.navbar-toggle {
  background-color: #060b26;
}

.sideMenu
{
align-self: center;
position: fixed;
right: 50px;
}

.nav-menu.active{
  margin: 10px;
}